body {
    background-color: beige;
}

.title-library {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 10px;
    padding-bottom: 30px;
}

.title {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.name {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.container-father {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;

}

.img {
    height: 200px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}